@font-face {
  font-family: "iconfont";
  src: url('iconfont.ttf?t=1497840581555') format('truetype');
  /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  vertical-align: baseline;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-duigou:before {
  content: "\e60d";
}

.icon-bianji:before {
  content: "\e617";
}

.icon-bofang:before {
  content: "\e603";
}

.icon-xia:before {
  content: "\e647";
}

.icon-lock:before {
  content: "\e729";
}

.icon-close:before {
  content: "\e612";
}

.icon-star:before {
  content: "\e6e2";
}

.icon-fenxiang-copy:before {
  content: "\e632";
}

.icon-bhjarrival:before {
  content: "\e606";
}

.icon-eye:before {
  content: "\e63d";
}

.icon-phone:before {
  content: "\e65d";
}

.icon-rotate1:before {
  content: "\e691";
}

.icon-weixin:before {
  content: "\e613";
}

.icon-eyes:before {
  content: "\e626";
}

.icon-icon-text-fn-delete:before {
  content: "\e664";
}

.icon-duihao:before {
  content: "\e63f";
}

.icon-lock1:before {
  content: "\e600";
}

.icon-right:before {
  content: "\e602";
}

.icon-rotate:before {
  content: "\e65e";
}

.icon-alipay:before {
  content: "\e621";
}

.icon-saoma:before {
  content: "\e66a";
}

.icon-weixintubiao-:before {
  content: "\e60c";
}

.icon-zaixianzhifujilu:before {
  content: "\e63e";
}

.icon-zanting:before {
  content: "\e604";
}

.icon-arrow-left:before {
  content: "\e660";
}

.icon-weiboColor:before {
  content: "\e601";
}

.icon-xiala-sanjiaoxing:before {
  content: "\e605";
}
